.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-titleUserName {
    opacity: .6;
    color: #fff;
}

.tw-followCard-infoUserName {
    opacity: .6;
    color: #fff;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
    padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;

}

.tw-followCard-button:hover {
  background-color: #ddd;
  transition: .3s ease background-color;
}

.tw-followCard-button.is-following {
  border: 1px solid red;
}

.tw-followCard-button.is-following:hover {
  background: red;
}

.titleProps {
    color: #fff;
}

.imgProps {
  width: 100px;
  height: 100px;
}

.inputProps {
  color: #ddd;
  background-color:transparent;
  border-color:transparent;
  outline: none;
}

.inputProps::placeholder {
  color: #ddd;
}



.searchBlock {
  border-color: #595959;
  border-radius: 30px;
  width: 300px;
  height: 40px;
  margin-bottom:20px;
  background-color:transparent;
  border-style: solid;
  text-align: center;
}

.imgProps {
    max-width: 100%;
    height: auto;
}

