body {
    background: #000000;
    font-family: system-ui;
    display: grid;
}

.App {
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-top: 0;
    gap: 16px;
}

.followBlock {
    color: #fff;
    border-style: solid;
    border-color: #595959;
    border-radius: 30px;
    width: 300px;
    height:300px;
    border-width: 1px;
    margin-bottom: 20px;
}

.subBlock {
    color: #fff;
    border-style: solid;
    border-color: #595959;
    border-radius: 30px;
    width: 300px;
    height:210px;
    border-width: 1px;
    margin-bottom: 20px;
}

.searchBlock {
    display: flex;
    flex-direction: row;
    color: #fff;
    border-style: solid;
    border-color: #595959;
    border-radius: 30px;
    border-width: 1px;
    justify-content: center;
}

.search-icon {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.blockProps {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: start;
    place-content: center;
    position: fixed;
    top:10px;
    right:50px;
}

.leftBlockProps {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: start;
    place-content: center;
    position: fixed;
    top:10px;
    left:0px;
}